.amalgama {
    background-color:rgb(57, 137, 207);
}

.amalgama-desadaptada {
    background-color:rgb(207, 197, 57);
}

.ausente {
    background-color:rgb(207, 57, 195);
}

.caries {
    background-color:rgb(57, 207, 94);
}

.corona-adaptada {
    background-color:rgb(27, 30, 32);
}